.html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul{
  margin: 0;
  list-style: none
}
ul{
    padding: unset;
}
.container{
background-color: aquamarine;
border: 5px solid tomato;
}
.section{
background-color: chartreuse;
}
.section-title{
    background-color: cornflowerblue;
    margin-top: 0px;
}

.btn{
    display: inline-block;
    padding: 20px 40px;
    background-color: rgba(173, 126, 6, 0.705);
    color: lightcyan;
    text-decoration: none;
    border:orange 5px;
    border-radius: 10px;
}
.btn:hover,
.btn:focus
{
background-color: orange;
border: peru;
}
.btn-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: lawngreen;
    vertical-align: middle;
}