.html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul{
  margin: 0;
  list-style: none
}
ul{
    padding: unset;
}
.container{
width: 1200px;
background-color: rgb(23, 79, 201, 0.3);
border: 5px solid tomato;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.wide-section{
    width: 1200;
    background-color: violet;
    border: darkorchid;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}
.section{
background-color: chartreuse;
}
.section-title{
    background-color: cornflowerblue;
    margin-top: 0px;
}
.btn{
    display: inline-block;
    padding: 20px 40px;
    background-color: rgba(173, 126, 6, 0.705);
    color: lightcyan;
    text-decoration: none;
    border:orange 5px;
    border-radius: 10px;
}
.btn:hover,
.btn:focus
{
background-color: orange;
border: peru;
}
.btn-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: lawngreen;
    vertical-align: middle;
}