.html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul{
  margin: 0;
  list-style: none
}
ul{
    padding: unset;
}
/*спрайт*/
.action-icons{
display: flex;
padding: 0;
margin: 0;
outline: 1px solid blue;
list-style: none;
}
.action-icons button{
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(../imeges/linkedin.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

/* добавление иконок и svg*/
.icon{
    width: 100px;
    height: 100px;
    color: grey;
}
.letter-f{
    fill:currentColor;
}
.letter-f:hover{
    fill: blue;
}

/* фон, фоновое изибражение и его позиционирование*/
.box-container{
display:flex;
flex-wrap: wrap;
width: 1700px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
margin-top: 50px;
}
.box{
    width: 800px;
    height: 400px;
    outline: 2px solid rgb(13, 105, 141);
    margin: 10px 10px 10px 10px;

}
.box:nth-child(1){
background-color: skyblue;
background-image: url(../imeges/earth.png);
background-repeat: no-repeat;
background-position: bottom;
background-size: cover;
}
.box:nth-child(2){
    background-color: rgb(192, 31, 197);
background-image: url(../imeges/earth.png);
background-repeat: no-repeat;
background-position: bottom 20px right 20px;
}
.box:nth-child(3){
    background-color: rgb(81, 216, 115);
    background-image: url(../imeges/earth.png);
background-repeat: repeat-x;
background-position: 50% 50%;
background-size: 120px;
}
.box:nth-child(4){
    background-color: rgb(152, 100, 201);
    background-image: url(../imeges/earth.png), url(../imeges/astrolog.jpg);
background-repeat: no-repeat;
background-position: top right, center;
background-size: 100px, cover;
}
/*фон градиент*/
.main-box{
    height: 600px;
    max-width: 1600;
    outline: 1px dashed rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgb(230, 137, 164,0.5), rgb(86, 240, 86,0.5)), url(../imeges/texture.jpg);
    /*background-image: url(../imeges/texture.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container{
width: 1200px;
background-color: rgb(23, 79, 201, 0.3);
border: 5px solid tomato;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.wide-section{
    width: 1200;
    background-color: violet;
    border: darkorchid;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}
.section{
background-color: chartreuse;
}
.section-title{
    background-color: cornflowerblue;
    margin-top: 0px;
}
.btn{
    display: inline-block;
    padding: 20px 40px;
    background-color: rgba(173, 126, 6, 0.705);
    color: lightcyan;
    text-decoration: none;
    border:orange 5px;
    border-radius: 10px;
}
.btn:hover,
.btn:focus
{
background-color: orange;
border: peru;
}
.btn-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: lawngreen;
    vertical-align: middle;
}